<div class="about_wrapper">

  <nav class="about_nav_div cf">
    <img id="logo" src="/assets/logo.png" alt="logo">
    <ul id="about_nav">
      <li><a href="/"> Home </a> </li>
      <li><a href="/contact"> Contact Us </a></li>
    </ul>
  </nav>

  <h1 id="about_title">About SMARTA</h1>
  <p id="about_content">
MARTA is composed of both heavy rail rapid transit and a bus transit system that operates primarily within the boundaries of Fulton, Clayton and DeKalb counties.
<br>

Jelly beans gingerbread biscuit cake dessert dessert. Pie tootsie roll pudding cheesecake icing cookie chocolate cake cookie sweet. Jelly beans pastry sweet chocolate bar. Muffin cupcake liquorice fruitcake tiramisu chocolate bar. Liquorice cupcake sweet cheesecake sugar plum. Chocolate bar sweet biscuit candy cookie. Jelly marzipan muffin gummies bear claw bear claw. Cookie candy canes pie sweet.
<br>
Tiramisu oat cake gingerbread bonbon. Bear claw sweet roll caramels fruitcake powder tart sugar plum tiramisu chocolate cake. Carrot cake bonbon wafer chocolate bar cookie bear claw. Chupa chups lemon drops muffin tiramisu ice cream jelly beans chupa chups. Sweet gingerbread jelly beans. Tootsie roll pudding jujubes danish brownie gummies lemon drops marshmallow. Toffee sweet roll candy dessert cake donut marshmallow.

<br>
Toffee toffee pudding candy canes danish. Icing sugar plum oat cake jelly beans sugar plum lemon drops dessert oat cake. Sesame snaps cheesecake tart sweet chupa chups marzipan. Toffee soufflé tiramisu jelly candy canes jelly-o tart sugar plum. Lollipop dragée bear claw. Tootsie roll wafer cookie chocolate cake sweet roll marshmallow carrot cake sesame snaps. Chupa chups chocolate bar sesame snaps bonbon topping.
<br>
Pastry apple pie cake biscuit carrot cake jujubes liquorice jelly beans cake. Tootsie roll caramels lemon drops jelly. Gummies tiramisu sugar plum tiramisu caramels jelly-o. Sweet jujubes jujubes marshmallow macaroon cheesecake pastry powder chocolate cake. Powder topping danish dragée sweet dessert chupa chups. Bear claw bonbon candy donut danish liquorice. Cupcake croissant apple pie chupa chups halvah topping lemon drops halvah. Chupa chups gummi bears marzipan jelly-o cookie chupa chups cookie sugar plum pastry. Chupa chups pudding muffin carrot cake muffin bear claw pie tiramisu oat cake. Gingerbread liquorice bonbon brownie toffee.
<br>
Danish biscuit dessert sugar plum gingerbread. Gummi bears candy canes powder chocolate. Jelly marshmallow danish gummies gummies candy brownie. Liquorice tootsie roll jelly beans. Oat cake wafer caramels sugar plum brownie cookie. Wafer tiramisu sweet roll. Cotton candy candy canes wafer liquorice candy canes powder. Biscuit cheesecake jelly-o tootsie roll powder jujubes toffee gummi bears jelly beans. Cotton candy sugar plum toffee chocolate bar powder macaroon. Chocolate cake lemon drops liquorice dragée pastry apple pie gummies icing.
</p>


</div>
