<div class="about_wrapper">

  <nav class="about_nav_div cf">
    <a href="/"><img id="logo" src="/assets/logo.png" alt="logo"></a>
    <ul id="about_nav">
      <li><a href="/"> Home </a> </li>
      <li><a href="/contact"> Contact Us </a></li>
    </ul>
  </nav>

  <h1 id="about_title">About SMARTA</h1>
  <p class="about_content">
AHAI has engineered an application to connect Marta and local Atlanta businesses together. Our goal is to make Atlanta more accessible for Marta riders. Smarta links Yelp, Marta, and Google Maps together to easily search for businesses along your Marta route.
</p>
<br>
<p class="about_content">
With Smarta you can search by routes or specific stops, and you can also select your preferred walking distance from the stop. You can filter the search by keywords, ratings, and prices. As our city grows we hope to see Marta expand, and applications like Smarta in higher demand. Marta is Smarta.
</p>


</div>
