
<div class="contact_wrapper">

  <nav class="contact_nav_div cf">
    <img id="logo" src="/assets/logo.png" alt="logo">
    <ul id="contact_nav">
      <li> <a href="/"> Home </a> </li>
      <li> <a href="/about"> About </a> </li>
    </ul>
  </nav>

  <h1 id="contact_title">About The Builders</h1>
  <div id= "builders">
  <p class="contact_content">Andreea Uta</p>
  <p class="contact_content">Amos Gichero</p>
  <p class="contact_content">Ian Price</p>
  <p class="contact_content">Huiqi Zhou</p>
  
  </div>
</div>
