<div class="contact_wrapper">
  <h1 id="contact_title">About The Builders</h1>
  <p class="contact_content">Andreea Uta</p>
  <p class="contact_content">Amos Gichero</p>
  <p class="contact_content">Ian Price</p>
  <p class="contact_content">Huiqi Zhou</p>
</div>
