
<div class="contact_wrapper">

  <nav class="contact_nav_div cf">
    <a href="/"><img id="logo" src="/assets/logo.png" alt="logo"></a>
    <ul id="contact_nav">
      <li> <a href="/"> Home </a> </li>
      <li> <a href="/about"> About </a> </li>
    </ul>
  </nav>

  <h1 id="contact_title">About The Builders</h1>
  <div id= "builders">
  <p class="contact_content">Andreea Uta<a href="https://github.com/dreeauta/"><img class="icon" src="/assets/github.png" alt="Github"></a></p>
  <p class="contact_content">Amos Gichero<a href="https://github.com/gichero/"><img class="icon" src="/assets/github.png" alt="Github"></a></p>
  <p class="contact_content">Ian Price<a href="https://github.com/mianprice/"><img class="icon" src="/assets/github.png" alt="Github"></a></p>
  <p class="contact_content">Huiqi Zhou<a href="https://github.com/blancazhq/"><img class="icon" src="/assets/github.png" alt="Github"></a></p>

  </div>
</div>
