<h1>This is the homepage</h1>

<form action="/search_result" method="post">
    <label>serch_term</label><input type = "text" name = "search" />
  <label>zipcode: </label><input type="text" name="zipcode"><br>
  <!-- <label>category: </label><input type="text" name="category"><br>
  <label>subcategory: </label><input type="text" name="subcategory"><br> -->
  <label>limit</label><input type="number" name="rating" min="1" max="50" step="1" value="20">
  <label>rating</label><input type="number" name="rating" min="1" max="5" step="0.5">
  <label>price</label><input type="number" name="price" min="1" max="4" step="1" value="4">
  <!-- <label>walking time(minutes): </label><input type="number" name="walkingtime" min="1" max="30" step="1"><br>
  <label>bus or train: <label>
    <select name="transittype">
      <option value="bus">bus</option>
      <option value="train">train</option>
      <option value="both">both</option>
    </select> -->
  <label>table or map view: <label>
    <select name="viewtype">
        <option value="map">map</option>
        <option value="table">table</option>
    </select>
  <button type="submit">Search</button>
</form>
