<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SMARTA</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        {{{body}}}

        <script src="/script.js"></script>
        <script async defer
        					src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7gp3k7_SKrZ39HfnEXkFsUaLNC1YpS0o&callback=initMap"></script>
    </body>
</html>
