.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}

/*home page*/
.home_wrapper{
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-image: url(/assets/background.jpg);
	background-size: cover;
  overflow: hidden;
}

#search{
	width: 60vw;
	margin-left: 20vw;
	margin-top: 15vh;
	background-color: rgba(255, 255, 255, 0.55);
  padding-left: 3vw;
}

.filter_div1_label{
  display: block;
  font-family: 'Raleway', sans-serif;
  padding-top: 1vh;
  padding-bottom: 0.5vh;
}

#filter_div2 label{
  display: block;
  font-family: 'Raleway', sans-serif;
  padding-top: 1vh;
  padding-bottom: 0.5vh;
}

#filter_div3 label{
  font-family: 'Raleway', sans-serif;
}

#title{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: black;
	padding-top: 2vh;
	font-size: 4vw;
	font-weight: 200;
	letter-spacing: 1vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

#filter_div1{
  float:left;
  margin-left: 5vw;
}

#search_term {
  width: 29.4vw;
  height: 4vh;
  padding-left: 1vw;
  border: none;
}

#route, #route_type {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  width: 30.5vw;
  height: 4.5vh;
  border-radius: 0;
  background-image: url(/assets/dropdown.png);
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 4% 50%;
  padding-left: 1vw;
  border: none;
}

#stop{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  width: 30.5vw;
  height: 4.5vh;
  border-radius: 0;
  background-image: url(/assets/dropdown.png);
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 4% 50%;
  padding-left: 1vw;
  border: none;
  display: none;
}

#stop_label{
  display: none;
}

.stop_option{
  display: none;
}

#zipcode{
  width: 29.4vw;
  height: 4vh;
  padding-left: 1vw;
  border: none;
}

#filter_div2{
  float:left;
  margin-left: 2vw;
}

#rating{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  width: 15vw;
  height: 4.5vh;
  border-radius: 0;
  background-image: url(/assets/dropdown.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 8% 50%;
  padding-left: 1vw;
  border: none;
}

#price{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  width: 15vw;
  height: 4.5vh;
  border-radius: 0;
  background-image: url(/assets/dropdown.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 8% 50%;
  padding-left: 1vw;
  border: none;
}

#time{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  width: 15vw;
  height: 4.5vh;
  border-radius: 0;
  background-image: url(/assets/dropdown.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 8% 50%;
  padding-left: 1vw;
  border: none;
}

#filter_div3{
  clear: left;
  margin-left: 5vw;
  padding-top: 1.5vh;
}

#filter_div3 button{
  display: block;
  background-color: #B84311;
  border-style: solid;
  border:none;
  color: white;
  padding: 1vh 2vw;
  margin-left: 21vw;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
}

.home_nav_div{
	height: 10vh;
}

#logo{
	float: left;
	height: 8vh;
	margin-left: 2vw;
  padding-top: 2vh;
}

#home_nav{
	float: right;
}

#home_nav li{
	float: left;
	list-style: none;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 1vh;
	font-family: 'Raleway', sans-serif;
}

#home_nav a {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
}

/*map page*/


#map {
  display: absolute;
	height: 100vh;
  width:100vw;
}

#map_nav li{

	float: left;
	list-style: none;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 1vh;
	font-family: 'Raleway', sans-serif;
}


#map_nav a {
  color: black;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}


#map_nav{
	float: right;
}

.map_nav_div {
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);

}

.map_wrapper {
  overflow: hidden;
}


/*table page*/

.table_wrapper {
  background-color: #BB352D;
  /*height: 100vh;*/
}

#table_nav li{
	float: left;
	list-style: none;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 1vh;
	font-family: 'Raleway', sans-serif;
}

#table_logo {
  filter: grayscale(100%) brightness(300%);
  float: left;
  height: 8vh;
  margin-left: 2vw;
  padding-top: 2vh;
}

#table_nav a {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

#table_nav{
	float: right;
}

table {
  color: white;
  font-family: 'Raleway', sans-serif;
  width: 70vw;
  margin-left: 15vw;
  border-collapse: collapse;
}

.table_first_row{
  border-bottom: 1px solid white;
  padding-bottom: 1vh;
}

table td {
  text-align: center;
  /*border: 1px solid white;*/
  padding: 1vh 0 1vw 0;

}

.name_td {
  width: 30vw;
}

.name_url {
  width: 10vw;
}

table a {
  text-decoration: none;
  color: white;
}

.table_wrapper button {
  height: 5vh;
  width: 8vw;
  margin-left: 43vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  background: transparent;
  border-style: solid;
  color: white;
}

.table_wrapper button a {
  text-decoration: none;
  color: white;
}


/*about page*/
#about_nav li{
	float: left;
	list-style: none;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 1vh;
	font-family: 'Raleway', sans-serif;
}

#about_nav a {
  color: black;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

#about_nav{
	float: right;
}

#about_title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 10vh;
  color: #CD3C0A;

}

#about_content {
  margin-left: 28vw;
  margin-right: 28vw;
}


/*contact page*/


#contact_nav li{
	float: left;
	list-style: none;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 1vh;
	font-family: 'Raleway', sans-serif;
}

#contact_nav a {
  color: black;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

#contact_nav{
	float: right;
}

#contact_title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 10vh;

}

#builders {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#route {font-family: Arial !important; }
